/* Style Ruleset HEADER */
header {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    color:rgb(88, 31, 202);
    font-size: 45px;
    font-family: Impact;
    text-align: center;
    letter-spacing: 5px;
}

h3 {
    color:whitesmoke;
    font-size: 20px;
    font-family: Monospace;
    text-align: center;
}

nav {
    margin-top: 40px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    color:rgb(104, 0, 145);
    font-family: sans-serif;
    font-size: 16px;
}

nav a:link {
    text-decoration: none;
    text-decoration-style: wavy;
    color:rgb(104, 0, 145);
}

nav a:hover {
    background-color: yellowgreen;
}

nav a:visited {
    color:rgb(31, 202, 45)
}

* {
    margin: 3px;
    padding: 0;
}

.slide_logo {
    margin-top: 0;
    padding: 0;
    text-align: left;
    display: flex;
    position: fixed;
}

.slide_logo p{
    color:rgb(21, 165, 170);
    margin-top: 160px;
    margin-left: 40px;
    position: absolute;
}

.img_titulo {
    text-align: center;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Style Ruleset BODY -- SECTIONS */
#vid_secretspot {
    margin-left: 18%;
    margin-top: 4%;
}

#art_1 {
    color: whitesmoke;
    font-size: 25px;
    font-family: sans-serif;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#art_2 {
    display: flex;
    align-content: space-around;
}

#texto_2 {
    color: whitesmoke;
    font-size: 25px;
    font-family: sans-serif;
    text-align: justify;
    margin-right: 2%;
    margin-left: 1%;
}

#texto_2_ing {
    color: rgb(64, 147, 214);
    font-family: monospace;
    font-size: 15px;
    text-align: justify;
    margin-right: 2%;
}

#art_3 {
    display: flex;
    align-content: space-around;
    margin-top: 4%;
}

.grlswrl_photos {
    width: 15%;
    margin: 1%;
    border-radius: 15%;
}

.texto_3 {
    color: rgb(64, 147, 214);
    font-family: monospace;
    font-size: 16px;
    text-align: justify;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

a {
    text-decoration: none;
}

/*modifica el hover del link de GRLSWIRL*/
a:hover {
    background-color: yellowgreen;
    text-decoration: none;
}

/*Hace que las imágenes salten cuando el cursor les pasa por encima*/
.grlswrl_photos:hover {transform:scale(1.5);}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style Ruleset Footer */

footer p {
    border-top: 2px solid whitesmoke;
    padding-top: 10px;
}