header {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    color:rgb(88, 31, 202);
    font-size: 45px;
    font-family: Impact;
    text-align: center;
    letter-spacing: 5px;
}

h3 {
    color:whitesmoke;
    font-size: 20px;
    font-family: Monospace;
    text-align: center;
}

nav {
    margin-top: 40px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    color:rgb(104, 0, 145);
    font-family: sans-serif;
    font-size: 16px;
}

nav a:link {
    text-decoration: none;
    text-decoration-style: wavy;
    color:rgb(104, 0, 145);
}

nav a:hover {
    background-color: yellowgreen;
}

nav a:visited {
    color:rgb(31, 202, 45)
}

* {
    margin: 3px;
    padding: 0;
}

.slide_logo {
    margin-top: 0;
    padding: 0;
    text-align: left;
    display: flex;
    position: fixed;
}

.slide_logo p{
    color:rgb(21, 165, 170);
    margin-top: 160px;
    margin-left: 40px;
    position: absolute;
}

.img_titulo {
    text-align: center;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style Ruleset BODY */
.hr { 
    height:5px; 
    width: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: yellowgreen;
}

form header{
    color: black;
    background-color: blueviolet;
    font-family: sans-serif;
    margin-top: 4%;
    margin-bottom: 4%;
}

h3 {
    color:rgb(104, 0, 145);
    font-family: sans-serif;
    margin-bottom: 3%;
    margin-top: 3%;
}

section {
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style Ruleset Footer */

footer p {
    border-top: 2px solid whitesmoke;
    padding-top: 10px;
}