/* Style Ruleset HEADER */
header {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    color:rgb(88, 31, 202);
    font-size: 45px;
    font-family: Impact;
    text-align: center;
    letter-spacing: 5px;
}

h3 {
    color:whitesmoke;
    font-size: 20px;
    font-family: Monospace;
    text-align: center;
}

nav {
    margin-top: 40px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    color:rgb(104, 0, 145);
    font-family: sans-serif;
    font-size: 16px;
}

nav a:link {
    text-decoration: none;
    text-decoration-style: wavy;
    color:rgb(104, 0, 145);
}

nav a:hover {
    background-color: yellowgreen;
}

nav a:visited {
    color:rgb(31, 202, 45)
}

* {
    margin: 3px;
    padding: 0;
}

.slide_logo {
    margin-top: 0;
    padding: 0;
    text-align: left;
    display: flex;
    position: fixed;
}

.slide_logo p{
    color:rgb(21, 165, 170);
    margin-top: 160px;
    margin-left: 40px;
    position: absolute;
}

.img_titulo {
    text-align: center;
}

#surfcamp_header {
    display: block;
    font-family: sans-serif;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style Ruleset BODY SECTIONS*/
.surfcams_block1 {
    display: flex;
}

.surfcams_block2 {
    display: flex;
}

.block1 { /*los bloques son columnas, se leen: izq sup, izq inf; luego, bloque 2"*/
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 4%;
}

.block2 {
    margin-top: 15%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

#grlswrl_logo {
    display: inline;
    margin-left: 12%;
    margin-right: 12%;
}

section a:hover{
    background-color: yellowgreen;
    border-radius: 50%;
    border-width: 12px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Style Ruleset Footer */

footer p {
    border-top: 2px solid whitesmoke;
    padding-top: 10px;
}